.Person {
  width: 60%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}

.PersonClose {
  font-style: normal;
  border: 1px solid black;
  width: 16px;
  height: 16px;
  position: relative;
  top: -2px;
  float: right;
  cursor: pointer;
}